resources/nfse/schemas/ABRASF_SHARED/consultar_nfse_rps_envio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.abrasf.org.br/nfse.xsd"
    xmlns="http://www.abrasf.org.br/nfse.xsd"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:element name="ConsultarNfseRpsEnvio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="IdentificacaoRps" type="tcIdentificacaoRps"/>
                <xs:element name="Prestador" type="tcIdentificacaoPrestador"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="tcIdentificacaoRps">
        <xs:sequence>
            <xs:element name="Numero" type="xs:string"/>
            <xs:element name="Serie" type="xs:string"/>
            <xs:element name="Tipo" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tcIdentificacaoPrestador">
        <xs:sequence>
            <xs:element name="CpfCnpj" type="tcCpfCnpj"/>
            <xs:element name="InscricaoMunicipal" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tcCpfCnpj">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cpf" type="xs:string"/>
                <xs:element name="Cnpj" type="xs:string"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
