resources/nfse/schemas/ABRASF_SHARED/enviar_lote_rps_sincrono_envio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.abrasf.org.br/nfse.xsd"
    xmlns="http://www.abrasf.org.br/nfse.xsd"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:element name="EnviarLoteRpsSincronoEnvio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LoteRps">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NumeroLote" type="xs:nonNegativeInteger"/>
                            <xs:element name="CpfCnpj" type="tcCpfCnpj"/>
                            <xs:element name="InscricaoMunicipal" type="xs:string"/>
                            <xs:element name="QuantidadeRps" type="xs:int"/>
                            <xs:element name="ListaRps">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Rps" type="tcDeclaracaoPrestacaoServico" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" type="xs:string" use="required"/>
                        <xs:attribute name="versao" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" processContents="lax"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="tcDeclaracaoPrestacaoServico">
        <xs:sequence>
            <xs:element name="InfDeclaracaoPrestacaoServico">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Rps">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="IdentificacaoRps">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numero" type="xs:string"/>
                                                <xs:element name="Serie" type="xs:string"/>
                                                <xs:element name="Tipo" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="DataEmissao" type="xs:date"/>
                                    <xs:element name="Status" type="xs:string"/>
                                </xs:sequence>
                                <xs:attribute name="Id" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Competencia" type="xs:date"/>
                        <xs:element name="Servico" type="tcServico"/>
                        <xs:element name="Prestador" type="tcIdentificacaoPrestador"/>
                        <xs:element name="Tomador" type="tcTomador"/>
                        <xs:element name="RegimeEspecialTributacao" type="xs:string" minOccurs="0"/>
                        <xs:element name="OptanteSimplesNacional" type="xs:string"/>
                        <xs:element name="IncentivoFiscal" type="xs:string"/>
                    </xs:sequence>
                    <xs:attribute name="Id" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tcServico">
        <xs:sequence>
            <xs:element name="Valores" type="tcValores"/>
            <xs:element name="IssRetido" type="xs:string"/>
            <xs:element name="ItemListaServico" type="xs:string"/>
            <xs:element name="CodigoCnae" type="xs:string"/>
            <xs:element name="CodigoTributacaoMunicipio" type="xs:string" minOccurs="0"/>
            <xs:element name="Discriminacao" type="xs:string"/>
            <xs:element name="CodigoMunicipio" type="xs:string"/>
            <xs:element name="ExigibilidadeISS" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tcValores">
        <xs:sequence>
            <xs:element name="ValorServicos" type="xs:decimal"/>
            <xs:element name="ValorDeducoes" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ValorPis" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ValorCofins" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ValorInss" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ValorIr" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ValorCsll" type="xs:decimal" minOccurs="0"/>
            <xs:element name="OutrasRetencoes" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ValorIss" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Aliquota" type="xs:decimal" minOccurs="0"/>
            <xs:element name="DescontoIncondicionado" type="xs:decimal" minOccurs="0"/>
            <xs:element name="DescontoCondicionado" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tcIdentificacaoPrestador">
        <xs:sequence>
            <xs:element name="CpfCnpj" type="tcCpfCnpj"/>
            <xs:element name="InscricaoMunicipal" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tcTomador">
        <xs:sequence>
            <xs:element name="IdentificacaoTomador">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CpfCnpj" type="tcCpfCnpj"/>
                        <xs:element name="InscricaoMunicipal" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RazaoSocial" type="xs:string"/>
            <xs:element name="Endereco" type="tcEndereco"/>
            <xs:element name="Contato" type="tcContato" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tcEndereco">
        <xs:sequence>
            <xs:element name="Endereco" type="xs:string"/>
            <xs:element name="Numero" type="xs:string"/>
            <xs:element name="Complemento" type="xs:string" minOccurs="0"/>
            <xs:element name="Bairro" type="xs:string"/>
            <xs:element name="CodigoMunicipio" type="xs:string"/>
            <xs:element name="Uf" type="xs:string"/>
            <xs:element name="Cep" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tcContato">
        <xs:sequence>
            <xs:element name="Telefone" type="xs:string" minOccurs="0"/>
            <xs:element name="Email" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tcCpfCnpj">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cpf" type="xs:string"/>
                <xs:element name="Cnpj" type="xs:string"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
